fastapi
uvicorn
httpx
pymongo
pydantic
pydantic-settings
ir_datasets
scikit-learn
bm25s
sentence-transformers
faiss-cpu
ir-measures
nltk
spacy
streamlit
symspellpy
gensim
pyarabic
pandas
matplotlib
python-docx
pyspellchecker
pytest
numpy<2
scipy
